In [1]:
import pandas as pd
import numpy as np

In [14]:
data_dir = "../data/"
annotations = "../data/annotations.csv"
candidates = "../data/candidates.csv"

In [15]:
annotations_df = pd.read_csv(annotations)
annotations_df.head()

,seriesuid,coordX,coordY,coordZ,diameter_mm
0,1.3.6.1.4.1.14519.5.2.1.6279.6001.100225287222...,-128.699421,-175.319272,-298.387506,5.651471
1,1.3.6.1.4.1.14519.5.2.1.6279.6001.100225287222...,103.783651,-211.925149,-227.121250,4.224708
2,1.3.6.1.4.1.14519.5.2.1.6279.6001.100398138793...,69.639017,-140.944586,876.374496,5.786348
3,1.3.6.1.4.1.14519.5.2.1.6279.6001.100621383016...,-24.013824,192.102405,-391.081276,8.143262
4,1.3.6.1.4.1.14519.5.2.1.6279.6001.100621383016...,2.441547,172.464881,-405.493732,18.545150

In [16]:
candidates_df = pd.read_csv(candidates)
candidates_df.head()

,seriesuid,coordX,coordY,coordZ,class
0,1.3.6.1.4.1.14519.5.2.1.6279.6001.100225287222...,-56.08,-67.85,-311.92,0
1,1.3.6.1.4.1.14519.5.2.1.6279.6001.100225287222...,53.21,-244.41,-245.17,0
2,1.3.6.1.4.1.14519.5.2.1.6279.6001.100225287222...,103.66,-121.80,-286.62,0
3,1.3.6.1.4.1.14519.5.2.1.6279.6001.100225287222...,-33.66,-72.75,-308.41,0
4,1.3.6.1.4.1.14519.5.2.1.6279.6001.100225287222...,-32.25,-85.36,-362.51,0

In [17]:
print(annotations_df.shape)
annotations_df.seriesuid.nunique()

(1186, 5)

601

In [18]:
print(candidates_df.shape)
candidates_df.seriesuid.nunique()

(551065, 5)

888

In [21]:
diameters = [0]*len(candidates_df)
for  idx, row in candidates_df.iterrows():
    s_uid, x, y, z, label = row
    diameter_table = annotations_df.loc[annotations_df["seriesuid"]==s_uid]
    for _, a_row in diameter_table.iterrows():
        _a, a_x, a_y, a_z, dia = a_row
        if  all([abs(i-j)<j/4 for i,j in zip([a_x, a_y, a_z], [x,y,z])]):
            diameters[idx] = dia
            break

In [23]:
candidates_df["diameters"] = diameters

In [25]:
candidates_df.describe()

,coordX,coordY,coordZ,class,diameters
count,551065.000000,551065.000000,551065.000000,551065.000000,551065.000000
mean,-2.005825,8.944721,-157.857852,0.002452,0.000880
std,71.711619,89.428035,277.212320,0.049453,0.072523
min,-201.113500,-317.330000,-895.220000,0.000000,0.000000
25%,-62.126786,-35.780058,-224.790000,0.000000,0.000000
50%,-17.271143,19.610000,-172.405402,0.000000,0.000000
75%,61.870000,59.080000,-120.132968,0.000000,0.000000
max,217.433291,292.380000,1906.140031,1.000000,11.175470

In [31]:
candidates_df.loc[].diameters.value_counts()

0.000000     550975
4.639347         31
5.060035         19
6.858528         14
3.973281         12
4.297245          8
11.175470         6
Name: diameters, dtype: int64

In [32]:
candidates_df.shape

(551065, 6)

In [34]:
candidates_df.head()

,seriesuid,coordX,coordY,coordZ,class,diameters
0,1.3.6.1.4.1.14519.5.2.1.6279.6001.100225287222...,-56.08,-67.85,-311.92,0,0.0
1,1.3.6.1.4.1.14519.5.2.1.6279.6001.100225287222...,53.21,-244.41,-245.17,0,0.0
2,1.3.6.1.4.1.14519.5.2.1.6279.6001.100225287222...,103.66,-121.80,-286.62,0,0.0
3,1.3.6.1.4.1.14519.5.2.1.6279.6001.100225287222...,-33.66,-72.75,-308.41,0,0.0
4,1.3.6.1.4.1.14519.5.2.1.6279.6001.100225287222...,-32.25,-85.36,-362.51,0,0.0

In [37]:
candidates_df.sort_values("diameters", inplace=True)

In [39]:
candidates_df.tail()

,seriesuid,coordX,coordY,coordZ,class,diameters
446609,1.3.6.1.4.1.14519.5.2.1.6279.6001.450501966058...,62.710000,17.870000,219.440000,0,11.17547
446289,1.3.6.1.4.1.14519.5.2.1.6279.6001.450501966058...,64.974270,23.419817,240.242477,0,11.17547
445919,1.3.6.1.4.1.14519.5.2.1.6279.6001.450501966058...,58.816256,23.057470,233.613904,0,11.17547
446651,1.3.6.1.4.1.14519.5.2.1.6279.6001.450501966058...,48.995409,27.035645,213.059188,0,11.17547
446170,1.3.6.1.4.1.14519.5.2.1.6279.6001.450501966058...,52.955067,21.582906,232.603988,1,11.17547

In [40]:
candidates_df.to_csv("../data/candidates_with_dia.csv", index=False)