In [1]:
import pandas as pd
import numpy as np

In [2]:
data_dir = "../data/"
annotations = "../data/annotations.csv"
candidates = "../data/candidates.csv"

In [3]:
annotations_df = pd.read_csv(annotations)
annotations_df.head()

,seriesuid,coordX,coordY,coordZ,diameter_mm
0,1.3.6.1.4.1.14519.5.2.1.6279.6001.100225287222...,-128.699421,-175.319272,-298.387506,5.651471
1,1.3.6.1.4.1.14519.5.2.1.6279.6001.100225287222...,103.783651,-211.925149,-227.121250,4.224708
2,1.3.6.1.4.1.14519.5.2.1.6279.6001.100398138793...,69.639017,-140.944586,876.374496,5.786348
3,1.3.6.1.4.1.14519.5.2.1.6279.6001.100621383016...,-24.013824,192.102405,-391.081276,8.143262
4,1.3.6.1.4.1.14519.5.2.1.6279.6001.100621383016...,2.441547,172.464881,-405.493732,18.545150

In [4]:
candidates_df = pd.read_csv(candidates)
candidates_df.head()

,seriesuid,coordX,coordY,coordZ,class
0,1.3.6.1.4.1.14519.5.2.1.6279.6001.100225287222...,-56.08,-67.85,-311.92,0
1,1.3.6.1.4.1.14519.5.2.1.6279.6001.100225287222...,53.21,-244.41,-245.17,0
2,1.3.6.1.4.1.14519.5.2.1.6279.6001.100225287222...,103.66,-121.80,-286.62,0
3,1.3.6.1.4.1.14519.5.2.1.6279.6001.100225287222...,-33.66,-72.75,-308.41,0
4,1.3.6.1.4.1.14519.5.2.1.6279.6001.100225287222...,-32.25,-85.36,-362.51,0

In [5]:
annotations_df["diameter_mm"].value_counts()

8.368487     1
5.126102     1
23.043448    1
23.571562    1
5.217135     1
            ..
20.389225    1
6.022566     1
7.754485     1
5.838910     1
4.023706     1
Name: diameter_mm, Length: 1186, dtype: int64

In [6]:
print(annotations_df.shape)
annotations_df.seriesuid.nunique()

(1186, 5)

601

In [7]:
print(candidates_df.shape)
candidates_df.seriesuid.nunique()

(551065, 5)

888

In [9]:
diameters = [0]*len(candidates_df)
for  idx, row in candidates_df.iterrows():
    s_uid, x, y, z, label = row
    diameter_table = annotations_df.loc[annotations_df["seriesuid"]==s_uid]
    for _, a_row in diameter_table.iterrows():
        _a, a_x, a_y, a_z, dia = a_row
        if  all([abs(i-j)<=(dia/4) for i,j in zip([a_x, a_y, a_z], [x,y,z])]):
            diameters[idx] = dia
            break

In [10]:
candidates_df["diameters"] = diameters

In [11]:
candidates_df.describe()

,coordX,coordY,coordZ,class,diameters
count,551065.000000,551065.000000,551065.000000,551065.000000,551065.000000
mean,-2.005825,8.944721,-157.857852,0.002452,0.016987
std,71.711619,89.428035,277.212320,0.049453,0.457490
min,-201.113500,-317.330000,-895.220000,0.000000,0.000000
25%,-62.126786,-35.780058,-224.790000,0.000000,0.000000
50%,-17.271143,19.610000,-172.405402,0.000000,0.000000
75%,61.870000,59.080000,-120.132968,0.000000,0.000000
max,217.433291,292.380000,1906.140031,1.000000,32.270030

In [32]:
candidates_df.shape

(551065, 6)

In [34]:
candidates_df.head()

,seriesuid,coordX,coordY,coordZ,class,diameters
0,1.3.6.1.4.1.14519.5.2.1.6279.6001.100225287222...,-56.08,-67.85,-311.92,0,0.0
1,1.3.6.1.4.1.14519.5.2.1.6279.6001.100225287222...,53.21,-244.41,-245.17,0,0.0
2,1.3.6.1.4.1.14519.5.2.1.6279.6001.100225287222...,103.66,-121.80,-286.62,0,0.0
3,1.3.6.1.4.1.14519.5.2.1.6279.6001.100225287222...,-33.66,-72.75,-308.41,0,0.0
4,1.3.6.1.4.1.14519.5.2.1.6279.6001.100225287222...,-32.25,-85.36,-362.51,0,0.0

In [15]:
candidates_df.sort_values("diameters", inplace=True)

In [16]:
candidates_df.tail()

,seriesuid,coordX,coordY,coordZ,class,diameters
538550,1.3.6.1.4.1.14519.5.2.1.6279.6001.943403138251...,-45.294402,74.869254,-97.528125,1,27.442423
21367,1.3.6.1.4.1.14519.5.2.1.6279.6001.112740418331...,40.690000,32.190000,-97.150000,1,30.610406
21354,1.3.6.1.4.1.14519.5.2.1.6279.6001.112740418331...,44.190000,37.790000,-107.010000,1,30.610406
21730,1.3.6.1.4.1.14519.5.2.1.6279.6001.112740418331...,47.903505,37.604420,-99.934176,1,30.610406
333141,1.3.6.1.4.1.14519.5.2.1.6279.6001.287966244644...,67.614517,85.025260,-109.808442,1,32.270030

175098    0.0
Name: diameters, dtype: float64

In [18]:
dia = candidates_df["diameters"]
for i in range(0, len(dia), 10000):
    print(f"{i} - {dia[i]}")

0 - 0.0
10000 - 0.0
20000 - 0.0
30000 - 0.0
40000 - 0.0
50000 - 0.0
60000 - 0.0
70000 - 0.0
80000 - 0.0
90000 - 0.0
100000 - 0.0
110000 - 0.0
120000 - 0.0
130000 - 0.0
140000 - 0.0
150000 - 0.0
160000 - 0.0
170000 - 0.0
180000 - 0.0
190000 - 0.0
200000 - 0.0
210000 - 0.0
220000 - 0.0
230000 - 0.0
240000 - 0.0
250000 - 0.0
260000 - 0.0
270000 - 0.0
280000 - 0.0
290000 - 0.0
300000 - 0.0
310000 - 0.0
320000 - 0.0
330000 - 0.0
340000 - 0.0
350000 - 0.0
360000 - 0.0
370000 - 0.0
380000 - 0.0
390000 - 0.0
400000 - 0.0
410000 - 0.0
420000 - 0.0
430000 - 0.0
440000 - 0.0
450000 - 0.0
460000 - 0.0
470000 - 0.0
480000 - 0.0
490000 - 0.0
500000 - 0.0
510000 - 0.0
520000 - 0.0
530000 - 0.0
540000 - 0.0
550000 - 0.0

In [21]:
candidates_df.to_csv("../data/candidates_with_dia.csv", index=False)

In [8]:
candidates_df = pd.read_csv("../data/candidates_with_dia.csv")
candidates_df["diameters"].value_counts()

0.000000     550037
24.773280         4
23.350644         4
24.782017         3
30.610406         3
              ...
3.297325          1
8.727948          1
4.910653          1
10.417941         1
4.936243          1
Name: diameters, Length: 999, dtype: int64

In [12]:
candidates_df.shape

(551065, 6)

In [13]:
val_set = candidates_df.iloc[::10, :].reset_index(drop=True)

In [17]:
train_set = candidates_df.drop(candidates_df.index[::10]).reset_index(drop=True)

In [18]:
val_set.shape[0] + train_set.shape[0]

551065

In [19]:
train_set.columns

Index(['seriesuid', 'coordX', 'coordY', 'coordZ', 'class', 'diameters'], dtype='object')

In [20]:
seriesuid, coordX, coordY, coordZ, nodule_class, diameter = train_set.iloc[2, :]

In [25]:
seriesuid

'1.3.6.1.4.1.14519.5.2.1.6279.6001.307921770358136677021532761235'